{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app id="inspire" mobile-breakpoint="sm">
  <jhMenu/>
  <v-main class="d-flex flex-column" style="margin-top: 60px">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="pageSecondBar d-flex px-8">
      <div>
        <div class="appTitle pt-3" style="font-size: 18px; font-weight: 700">{{ breadcrumbs[1].fullText }}
          <!-- 帮助页按钮 -->
          <v-icon @click="isHelpPageDrawerShow = true" small>mdi-help-circle-outline</v-icon>
        </div>
        <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
      </div>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->
    <!-- 页面主要内容 -->
    <div class="pageBodyContainer px-8" style="flex: 1;">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
        <v-card>
          <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

            <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">

              <span class="body-2">共{{ tableData.length }}条记录</span>
            </v-col>

            <v-spacer></v-spacer>

            <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
              <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
            </v-col>
          </v-row>
          <v-data-table :headers="headers"
                        hide-default-header
                        :items="tableData"
                        :search="searchInput"
                        :search="searchInput" :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                        :items-per-page="20"
                        mobile-breakpoint="0"
                        :loading="isTableLoading"
                        :class="{'zebraLine': showTableZebraLine }"
                        checkbox-color="success"
                        fixed-header
                        class="fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">

            <template slot="header" :headers="headers">
              <thead>
              <tr>
                <th v-if="!header.value.includes('lesson')" v-for="header in headers" :key="header.text">
                  {{ header.text }}
                </th>
                <th v-else :key="header.text">
                  <span :title="header.courseName" @click="doUiAction('viewCourseDetail', header)" style="cursor:pointer; font-weight: bold;color: black">{{ header.courseName }}</span>
                </th>
              </tr>
              </thead>
            </template>

            <template v-for="(cItem, index) in constantCollection.courseList" :slot="'item.lesson_' + cItem.courseId" slot-scope="{ item }">
              <div class="d-flex">
                <v-select
                    :loading="item['loading_' + cItem.courseId]"
                    :disabled="item['loading_' + cItem.courseId]"
                    v-if="item['lesson_' + cItem.courseId]"
                    :items="constantCollection.attendanceStatus"
                    style="width: 90px; max-width: 90px;"
                    dense filled single-line
                    class="cus-v-input"
                    v-model="item['lesson_' + cItem.courseId]"
                    @change="doUiAction('updateAttendanceStatus', {item, number: cItem.courseId, courseId: cItem.courseId})"
                ></v-select>
                <!-- 非正常出勤显示备注按钮 -->
                <v-btn v-if="item['lesson_' + cItem.courseId] && item['lesson_' + cItem.courseId] !== '出勤'" icon
                       @click="doUiAction('showRemark', {item, number: cItem.courseId, courseId: cItem.courseId})">
                  <v-icon>mdi-comment-text-outline</v-icon>
                </v-btn>
              </div>
            </template>

            <!--表格底部右侧功能按钮-->
            <template v-slot:footer.prepend>
              <v-menu top offset-y :close-on-content-click="false">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-bind="attrs" v-on="on" icon>
                    <v-icon>mdi-menu</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item>
                    <v-switch v-model="showTableZebraLine" label="显示斑马纹" dense flat></v-switch>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>
            <!--表格底部右侧分页-->
            <template v-slot:footer.page-text="pagination">
              <span>{{ pagination.pageStart }}-{{ pagination.pageStop }}</span>
              <span class="ml-1">共{{ pagination.itemsLength }}条</span>
            </template>

          </v-data-table>
        </v-card>
      </v-container>


      <v-dialog
          v-model="isRemarkDialog"
          width="500"
      >
        <v-card>
          <v-card-title class="text-h5 grey lighten-2">
            添加备注
          </v-card-title>
          <v-divider></v-divider>
          <v-textarea v-model="editItem['remarks_' + editItem.lessonNumber]" color="success" class="cus-v-input" dense filled single-line></v-textarea>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                :loading="isRemarkLoading"
                class="ml-2"
                color="primary"
                text
                @click="doUiAction('confirmUpdateAttendanceStatus')"
            >
              确定
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <<<<<<<<<<<<< 页面内容 -->
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShow" fixed temporary right width="80%" hide-overlay
                         class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
              height="100%"></iframe>

      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
             @click="isHelpPageDrawerShow = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
  </v-main>
</v-app>

<jhToast/>
<jhMask/>
<jhConfirmDialog/>

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    breadcrumbs: window.breadcrumbs,
    isHelpPageDrawerShow: false,
    isMobile: window.innerWidth < 600,
    showTableZebraLine: true,
    // 表格相关数据
    isFormValid: true,
    requireRules: [v => !!v || 'This is required'],
    constantCollection: {
      courseList: [],
      attendanceStatus: Object.freeze(['出勤', '缺勤', '迟到', '早退'])
    },

    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "学生id", value: "studentId", width: 50},
      {text: "学生名称", value: "studentName", width: 80},
    ],

    editItem: {isEdit: false},
    isStartTimeMenuShow: false,
    groupAlbumList: [],
    currentGroupAlbumList: [],
    isRemarkDialog: false,
    isRemarkLoading: false,
    groupId: null,
    attendanceBatchData: [],
  }),
  computed: {

    tableData() {
      return this.tableDataFromBackend;
    },
    courseCount() {
      return this.constantCollection.courseList.length
    }
  },
  watch: {},
  async created() {
    await this.doUiAction('getCourseList');
    await this.doUiAction('getTableData');
  },
  mounted() {
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getTableData':
          await this.getTableData();
          break;
        case 'getCourseList':
          await this.getCourseList();
          break;
        case 'viewCourseDetail':
          await this.prepareBatchData(uiActionData);
          await this.openDetailDialog();
          break;
        case 'confirmUpdateAttendanceStatus':
          await this.confirmUpdateAttendanceStatus(uiActionData);
          break;
        case 'updateAttendanceStatus':
          await this.updateAttendanceStatus(uiActionData);
          break;
        case 'showRemark':
          await this.showRemark(uiActionData);
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================

    /**
     * uiActionId:  getTableData
     * description: ✅获取表格数据
     */
    async getTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'attendanceManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      const {rows} = result.data.appData.resultData;

      this.tableDataFromBackend = this.buildTableList(rows);
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================
    async getCourseList() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'courseManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            orderBy: [{column: 'operationAt', order: 'asc'}]
          }
        }
      });
      const {rows} = result.data.appData.resultData;
      this.constantCollection.courseList = rows;
      // 根据length 长度动态添加headers 列
      rows.forEach((item, i) => {
        this.headers.push(
            {text: `第${i + 1}课`, value: "lesson_" + item.courseId, width: 50, edit: false, required: false, courseName: item.courseName, courseId: item.courseId, index: i + 1}
        )
      })
    },
    buildTableList(rows) {
      const list = [];
      const listByStudent = _.groupBy(rows, 'studentId');
      for (const studentId in listByStudent) {
        const {studentName, courseId, lessonNumber} = listByStudent[studentId][0];
        const studentInfo = {
          id: studentId + courseId + lessonNumber,
          studentId,
          studentName,
          courseId
        };
        this.constantCollection.courseList.forEach((item, i) => {
          const courseId = item.courseId
          const studentLine = listByStudent[studentId].find(e => e.courseId == courseId);
          studentInfo['lesson_' + courseId] = studentLine ? studentLine.attendance : '';
          studentInfo['copy_lesson_' + courseId] = studentInfo['lesson_' + courseId];
          studentInfo['loading_' + courseId] = false;
          studentInfo['remarks_' + courseId] = studentLine ? studentLine.remarks : '';
        })
        list.push(studentInfo);
      }
      return list;
    },

    async openDetailDialog() {
      this.isRemarkDialog = true;
    },
    async prepareBatchData(item) {
      this.batchData = _.cloneDeep(item);
      // 判断批量新增 或 编辑
      const lessonNumber = this.batchData.value.split('_')[1];
      this.batchData.lessonNumber = lessonNumber;
      this.batchData.courseId = item.courseId;
      this.batchData.isEdit = this.tableDataFromBackend.some(e => e['lesson_' + lessonNumber] !== '');
      this.batchData.attendanceDate = dayjs().format('YYYY-MM-DD')
    },
    async updateAttendanceStatus({item, number, courseId}) {
      debugger
      const key = 'lesson_' + number
      const loadKey = 'loading_' + number
      const copyKey = 'copy_loading_' + number

      item[loadKey] = true;
      const {studentId} = item
      const attendance = item[key]
      if (attendance === '出勤') {
        this.isRemarkDialog = false
        const {status} = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'attendanceManagement',
              actionId: 'updateItem',
              where: {courseId, studentId},
              actionData: {attendance}
            }
          }
        })).data;

        if (status === 'success') {
          window.vtoast.success("更新成功");
        } else {
          window.vtoast.fail("更新失败");
          item[key] = item[copyKey];
        }

      } else {
        // 早退要输入备注
        this.showRemark({item, number})
      }
      setTimeout(() => {
        item[loadKey] = false;
      }, 500)

    },
    async showRemark({item, number: lessonNumber, courseId}) {
      this.editItem = item
      this.editItem.lessonNumber = lessonNumber;
      this.editItem.courseId = courseId;
      this.isRemarkDialog = true
    },

    async confirmUpdateAttendanceStatus() {
      this.isRemarkLoading = true;
      const {studentId, courseId, lessonNumber} = this.editItem;
      const {data: {status}} = await window.jianghuAxios({
        data: {
          appData: {
            pageId: "attendanceManagement",
            actionId: "updateItem",
            where: {studentId, courseId, lessonNumber},
            actionData: {
              remarks: this.editItem['remarks_' + lessonNumber],
              attendance: this.editItem['lesson_' + lessonNumber]
            }
          },
        },
      });
      if (status === 'success') {
        window.vtoast.success("更新成功");
      } else {
        window.vtoast.fail("更新失败");
      }
      this.isRemarkLoading = false;
      this.isRemarkDialog = false
    },
  }
})
</script>

<style scoped>
</style>
{% endblock %}
