
<template id="student-attendance-list">

<!-- 页面主要内容 -->
<v-container class="student-list-container d-flex flex-column pa-xs-0 pa-0">
  <v-card>
  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
        <span class="body-2">共{{ studentList.length }}条记录</span>
      </v-col>

      <v-spacer></v-spacer>
      <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
        <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
      </v-col>
    </v-row>
    <v-data-table fixed-header dense
      :headers="headers"
      :items="studentList"
      :search="searchInput"
      :items-per-page="200"
      mobile-breakpoint="0"
      :loading="isTableLoading"
      checkbox-color="success"
      hide-default-footer
      height="300"
      class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">

      <template :slot="'item.lesson_' + lessonNumber" slot-scope="{ item }">
        <v-select
          v-if="item.hasOwnProperty('lesson_' + lessonNumber)"
          :items="constantCollection.attendanceStatus"
          style="width: 90px"
          dense filled single-line
          class="cus-v-input my-1"
          v-model="item['lesson_' + lessonNumber]"
        ></v-select>
      </template>
      <template :slot="'item.remarks_' + lessonNumber" slot-scope="{ item }">
        <!-- text-field -->
        <v-text-field
          style="width: 200px"
          dense filled single-line
          class="cus-v-input my-1"
          v-model="item['remarks_' + lessonNumber]"
        ></v-text-field>
      </template>

    </v-data-table>
  </v-card>
</v-container>

</template>

<script type="module">
Vue.component('student-attendance-list', {
  template: '#student-attendance-list',
  props: {
    student: {
      type: Array,
      default: ()=> ([])
    },
    lessonNumber: {
      type: Number,
      default: 1
    },
  },
  data: () => ({
    constantCollection: {
      attendanceStatus: [
        '出勤',
        '缺勤',
        '迟到',
        '早退',
      ]
    },

    serverSearchInput: {
      studentId: null,
      classId: null
    },
    searchInput: null,
    isTableLoading: false,
    tableDataFromBackend: [],
    headers: [
      {text: "用户ID", value: "studentId", width: 80, class: 'fixed', cellClass: 'fixed'},
      {text: "用户名", value: "studentName", width: 90}, 
      // {text: "最后登录时间", value: "lastLoginAt", width: 250},
    ],
    studentList: [],
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
    }
  },
  watch: {
    studentList(newValue) {
      this.$emit('change', newValue)
    },
    
  },
  async created() {
    this.headers.push(
      {text: `第${this.lessonNumber}课`, value:  `lesson_${this.lessonNumber}`, width: 120}
    )
    this.headers.push(
      {text: '备注', value:  `remarks_${this.lessonNumber}`, width: 120}
    )
    this.setDefaultAttendance()
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    setDefaultAttendance() {
      this.studentList = _.cloneDeep(this.student);
      this.studentList.forEach(e => {
        e[`lesson_${this.lessonNumber}`] = e[`lesson_${this.lessonNumber}`] || '出勤'
      })
    },
    /** 
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      let { data: { appData: { rows } } } = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'studentList',
            actionId: 'selectTeacherStudentList',
            actionData: {},
            where: {groupId: this.groupId},
            orderBy: [{column: 'lastLoginAt', order: 'desc'}]
          }
        }
      });
      rows = _.uniqBy(rows, 'studentId');
      rows.forEach(e => {
        e.lastLoginAt = e.lastLoginAt ? dayjs(e.lastLoginAt).format('YYYY-MM-DD HH:mm:ss') : '';
        e.operationAt = dayjs(e.operationAt).format('YYYY-MM-DD HH:mm:ss');
      })
      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================
   
  }
})
</script>

<style scoped>
  .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>th, .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>th, .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>th {
    height: 32px;
  }
  .student-list-container .v-application--is-ltr .v-data-footer__select .v-select {
    margin: 0 0 0 34px;
  }
</style>
